
.swiper-button-prev::after {
    padding: 0 0 3rem 1rem;
    color: white;
}

.swiper-button-prev::after {
    padding: 0 1rem 3rem 0;
    color: white;
}

.swiper-button-next:hover::after {
    color: black;
    transition: 0.25s;
}

.swiper-button-prev:hover::after {
    color: black;
    transition: 0.25s;
}