.swiper-button-next::after {
    padding: 0 0 7rem 1rem;
    color: orange;
}

.swiper-button-prev::after {
    padding: 0 1rem 7rem 0;
    color: orange;
}

.swiper-button-next:hover::after {
    color: orangered;
    font-size: 3.2rem;
    transition: 0.4s;
}

.swiper-button-prev:hover::after {
    color: orangered;
    font-size: 3.2rem;
    transition: 0.3s;
}